@model CategoryViewModel
﻿
@{
    ViewData["Title"] = "تفاصيل";
}

<h1>تفاصيل الفئة</h1>
<div>
    <div class="mb-3">
        <label asp-for="Id" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Name" readonly>
    </div>
    <a asp-action="Edit" class="btn btn-primary mt-5" asp-route-id="@Model.Id">تعديل</a>
    <a asp-action="Index" class="btn btn-light mt-5">العودة للقائمة</a>
</div>