@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "نسيت كلمة السر ؟";
}

<div style="direction:rtl;font-family:Cairo">
    <h1>@ViewData["Title"]</h1>
    <p>
        قم بالتحقق من الصندوق الوارد الخاص بك.
    </p>
</div>
