@page
@model LockoutModel
@{
    ViewData["Title"] = "إيقاف الحساب";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger justify-content-center">تم إيقاف هذا الحساب مؤقتاً. حاول تسجيل الدخول لاحقاً</p>
</header>
